<header>
    <div class="header">
        <div id="nav">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" id="nav-name">Java chat</a>
                    <a href="javascript:void(0);" class="icon" id="nav-btn" class="align-right" onclick="toggleMobileNav()">
                        <i class="fa fa-bars" alt="menu"></i>
                    </a>
                </div>
                <div id="nav-links">
                    <a href="/index.html">Home</a>
                    <a href="/rules.html">Chatroom rules</a>
                </ul>
            </nav>
        </div>
    </div>
</header>