<head>
    <!-- General metadata -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv = "Content-language" content = "en-US"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    {% if page.description %}
    <meta name="description" content="{{page.description}}"/>
    {% endif %}
    
    <!-- Scripts and styles--> 
    <script src="{{ site.baseurl }}/assets/js/sitescript.js"></script>
    <!-- image resources -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- The theme -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/theme.css" />
    
    
    <!-- Plugin-generated -->
    {% seo %}
</head>